@use 'vars/vars.sass' as *

body
     margin:0
     background-color: $white

.headContainer
     display: flex
     flex-direction: column

     header
          height: 32%
          @include defaultFlex(row , flex-start ,flex-start )
          @include headerBoxShadowRadius()
          background-color: $black

          h1
               margin-top: 10px
               margin-left: 40px
               @include DINbold($white,$extraLargeFontSize)

     .logContainer
          height: 68%
          @include defaultFlex(row , space-around , center)

          h4
               @include defaultMarginBlock()
               @include DINbold($black ,$normalFontSize)
               
          input
               @include inputSize()
               marign: 10pt
               @include inputStyle()
               @include DINnormal($black ,$smallFontSize)

          input::placeholder 
               @include DINnormal($black-transparent ,$smallFontSize)
         
          button
               @include buttonSize()

               grid-column: 1/3
               grid-row: 3/4

               margin-bottom: 20pt
               @include defaultButtonStyle()
               @include DINbold($white , $smallFontSize)
               
          .logIn
               @include logBoxSize()
               @include defaultFlex(column ,flex-start ,center )
               background-color: $orange
               @include boxShadowRadius()

               form
                    @include defaultFormSize()

                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: 1fr 1fr 1fr
                    justify-items: center
                    align-items: center 

                    input
                         grid-column: 1/3

          .signUp
               @include logBoxSize()
               @include defaultFlex(column , flex-start ,center)
               
               background-color: $blue
               @include boxShadowRadius()
               @include DINnormal($black ,$normalFontSize )
               
               form
                    @include defaultFormSize()

                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-template-row: 1fr 1fr 1fr
                    justify-items: center
                    align-items: center

                    input[name="signUpUsername"]
                         grid-column: 1/2
                         grid-row: 1/2
                    
                    input[name="signUpPassword"]
                         grid-column: 2/3
                         grid-row: 1/2

                    input[name="firstName"]
                         grid-column: 1/2
                         grid-row: 2/3
                    
                    input[name="lastName"]
                         grid-column: 2/3
                         grid-row: 2/3